:root {
    --primary: #fbf7ef;
    --secondary: #4e342e;
    --accent: #8b8b83;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow-x: hidden;
    color: var(--secondary);
}

.landingPage {
    height: 100vh;
    width: 100vw;
    position: relative;

    & nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 35px;

        & h1 {
            font-size: 35px;
        }

        & .part2 {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 25px;

            & a {
                font-size: 20px;
                font-weight: 500;
                cursor: pointer;
                text-decoration: none;
                color: var(--secondary);
                border-bottom: 1px solid transparent;

                & span {
                    padding: 10px;
                    border-radius: 15px;
                }
            }

            & button {
                padding: 10px;
                font-size: 20px;
                border-radius: 15px;
                cursor: pointer;
                color: var(--primary);
                border: 1px solid var(--accent);
                background-color: var(--secondary);
            }
        }
    }

    .content {
        display: grid;
        place-items: center;
        grid-template-columns: repeat(3, 1fr);
        height: calc(100% - 120px);
        width: 100%;
        gap: 150px;

        & img {
            height: 300px;
            width: 250px;
            display: flex;
            object-fit: cover;
        }

        & img:nth-child(2) {
            height: 400px;
            width: 300px;
        }
    }
}

#about {
    height: 100vh;
    width: 100vw;
    background-color: aquamarine;
    display: flex;
    align-items: center;

    & h1 {
        font-size: 30vw;
        padding-left: 5%;
        text-wrap: nowrap;
    }
}

.page3 {
    height: 100vh;
    width: 100vw;
}