:root {
    --primary: #121817;
    --secondary: #fdca6f;
    --accent: #8e4d13;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow-x: hidden;
    background-color: var(--primary);
    color: var(--secondary);
}

.scrollDisabled {
    overflow: hidden;
}

#intro {
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: 99;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

    & h1 {
        font-size: clamp(1rem, -0.1429rem + 5.7143vw, 5rem);

        & span {
            display: inline-block;
        }
    }

    & #intro2 {
        position: absolute;
        opacity: 0;
        bottom: 200px;

        & span {
            position: relative;
            right: -70px;
            opacity: 0;
        }
    }
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #904d1433;
    backdrop-filter: blur(5px);

    & h1 {
        font-size: 1.7em;
        margin: 15px;
        cursor: pointer;
        white-space: nowrap;
        overflow: hidden;

        &:hover {
            filter: brightness(.8);
        }
    }

    & .buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 98;
        gap: 25px;

        & a {
            font-size: 1em;
            font-weight: 500;
            cursor: pointer;
            text-decoration: none;
            color: var(--secondary);
            outline: none;
            border: none;

            & span {
                padding: 10px;
                border-radius: 15px;
            }
        }

        & #btn {
            padding: 6px;
            font-size: 1em;
            border-radius: 15px;
            cursor: pointer;
            color: var(--primary);
            border: 1px solid #8f4c1299;
            background-color: var(--secondary);
        }
    }

    & .buttons2 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        z-index: 98;
        width: 250px;
        position: absolute;
        right: 0;
        top: 63px;
        padding: 30px;
        background-color: var(--primary);
        border-top: none;
        border-bottom: 1px solid #904e1499;
        border-left: 1px solid #904d1499;
        border-right: 1px solid #904d1499;
        gap: 25px;

        & a {
            font-size: 1em;
            font-weight: 500;
            cursor: pointer;
            text-decoration: none;
            color: var(--secondary);
            outline: none;
            border: none;

            & span {
                padding: 10px;
                border-radius: 15px;
            }
        }

        & #btn {
            padding: 6px;
            font-size: 1em;
            border-radius: 15px;
            cursor: pointer;
            color: var(--primary);
            border: 1px solid #8f4c1299;
            background-color: var(--secondary);
        }
    }

    & .menuButton {
        position: absolute;
        cursor: pointer;
        right: 50px;

        & i {
            font-size: 1.2rem;
        }
    }
}

#main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

    & .parts {
        padding-bottom: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        & h1 {
            font-size: clamp(1.5rem, 0.6429rem + 4.2857vw, 4.5rem);
            margin-bottom: 20px;
        }

        & #btn2 {
            padding: 6px;
            font-size: 1em;
            border-radius: 15px;
            cursor: pointer;
            color: var(--primary);
            border: 1px solid #8f4c1299;
            background-color: var(--secondary);

            & div {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                overflow: hidden;
            }

            & .icon {
                overflow: hidden;
            }

            & i {
                font-size: 1.5em;
            }
        }
    }
}

#section1 {
    height: 100vh;
    padding: 60px 30px;

    & .infoCard {
        height: max-content;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 50px;

        & #imageContainer1 {
            position: relative;
            cursor: pointer;

            & img {
                width: 250px;
                object-fit: contain;
            }

            & .imageOverlay {
                position: absolute;
                top: 0;
                right: 0;
                height: 99%;
                width: 0;
                background-color: rgba(0, 0, 0, 0.5);
            }

            & .imageInfo1 {
                position: absolute;
                top: 0;
                margin: 0;
                padding: 10px;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                gap: 5px;

                & p {
                    margin: 0;
                }
            }
        }

        & .infos {
            display: flex;
            flex-direction: column;
            text-align: end;
            position: sticky;
            top: 0;

            & h2 {
                font-size: clamp(1.5rem, 1.2714rem + 1.1429vw, 2.3rem);
                margin-bottom: 20px;
            }

            & p {
                font-size: clamp(0.65rem, 0.55rem + 0.5vw, 1rem);
            }
        }
    }
}
#section2 {
    height: 100vh;
    padding: 60px 30px;

    & .infoCard {
        height: max-content;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 50px;

        & #imageContainer2 {
            position: relative;
            cursor: pointer;

            & img {
                width: 250px;
                object-fit: contain;
            }

            & .imageOverlay {
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                width: 0;
                background-color: rgba(0, 0, 0, 0.5);
            }

            & .imageInfo2 {
                position: absolute;
                top: 0;
                margin: 0;
                padding: 10px;
                height: 100%;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                gap: 5px;

                & p {
                    margin: 0;
                }
            }
        }

        & .infos {
            display: flex;
            flex-direction: column;
            position: sticky;
            top: 0;

            & h2 {
                font-size: clamp(1.5rem, 1.2714rem + 1.1429vw, 2.3rem);
                margin-bottom: 20px;
            }

            & p {
                font-size: clamp(0.65rem, 0.55rem + 0.5vw, 1rem);

            }
        }

        & img {
            width: 250px;
            object-fit: contain;
        }
    }
}

#section3 {
    height: 100vh;
    padding: 60px 30px;

    & .infoCard {
        height: max-content;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 50px;

        & #imageContainer3 {
            position: relative;
            cursor: pointer;

            & img {
                width: 250px;
                object-fit: contain;
            }

            & .imageOverlay {
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                width: 0;
                background-color: rgba(0, 0, 0, 0.5);
            }

            & .imageInfo3 {
                position: absolute;
                top: 0;
                margin: 0;
                padding: 10px;
                height: 100%;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                gap: 5px;

                & p {
                    margin: 0;
                }
            }
        }

        & .infos {
            display: flex;
            flex-direction: column;
            text-align: end;
            position: sticky;
            top: 0;

            & h2 {
                font-size: clamp(1.5rem, 1.2714rem + 1.1429vw, 2.3rem);
                margin-bottom: 20px;
            }

            & p {
                font-size: clamp(0.65rem, 0.55rem + 0.5vw, 1rem);
            }
        }

        & img {
            width: 250px;
            object-fit: contain;
        }
    }
}

footer {
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 20px;
    color: var(--primary);
    background-color: var(--secondary);

    & h2 {
        margin-bottom: 10px;
    }

    & p {
        text-align: center;
        margin-bottom: 30px;
    }

    & .content {
        margin-top: 50px;

        & p {
            margin: 0;
        }
    }

    & a {
        text-decoration: none;
        color: var(--primary);
    }

    & #icons {
        margin-bottom: 50px;

        & i {
            font-size: 1.3em;
        }
    }

    ul {
        & h5 {
            text-align: center;
        }

        & li {
            list-style: none;
        }
    }
}

@media all and (max-width: 425px) {
    #section1 {
        margin-bottom: 250px;

        & h1 {
            text-align: center;
        }

        & .infoCard {
            flex-wrap: wrap;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;

            & .infos {
                order: 2;

                & h2 {
                    text-align: center;
                }

                & p {
                    text-align: center;
                }
            }

            & #imageContainer1 {
                order: 1;
            }
        }
    }

    #section2 {
        margin-bottom: 250px;

        & h1 {
            text-align: center;
        }

        & .infoCard {
            flex-wrap: wrap;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;

            & .infos {
                order: 2;

                & h2 {
                    text-align: center;
                }

                & p {
                    text-align: center;
                }
            }

            & #imageContainer1 {
                order: 1;
            }
        }
    }

    #section3 {
        margin-bottom: 250px;

        & h1 {
            text-align: center;
        }

        & .infoCard {
            flex-wrap: wrap;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;

            & .infos {
                order: 2;

                & h2 {
                    text-align: center;
                }

                & p {
                    text-align: center;
                }
            }

            & #imageContainer1 {
                order: 1;
            }
        }
    }
}
@media all and (max-width: 320px) {
    #section1 {
        margin-bottom: 300px;
    }
    #section2 {
        margin-bottom: 300px;
    }
    #section3 {
        margin-bottom: 300px;
    }
}
